* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 24px;
  font-family: "Barlow", sans-serif;
}
h1,
h2,
h3{
  color: #162542;
  text-transform: capitalize;
}
.title{
  font-size: 3.5rem;
  font-weight: 900;
}
.title-section{
  font-size: 2rem;
  font-weight: 900;
}
.title-subsection{
  font-size: 1.5rem;
  font-weight: 900;
}
.style{
  color: #7B8BAD;
}
.style-bold{
  font-weight: 700;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.375rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
}
.button-grey{
  background-color: #E8EFF2;
  color: #162542;
}
.button-orange{
  background-color: #F16718;
  color: #FFFFFF;
}
.align-top{
  display: flex;
  justify-content: space-between;
}
.background-icon{
  width: 4.0625rem;
  height: 4.0625rem;
  background-color: #F16718;
  border-radius: 0.5rem;
}